.params-choice .select {
    margin-top: 5%;
    width: fit-content;
    padding: 2%;
    border-radius: 1em;
}

.params-choice .select:focus {
  outline: none;
}

.params-choice .tooltip {
    font-size: 0.8em;
}

.params-desc {
    width: 15%;
    text-align: left;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;
}

.params-choice {
    display: block;
    margin: 5% auto;
    width: fit-content;
}

.params, .findings {
    display: inline-block;
    width: 44%;
    margin: 1.5%;
    border: 0.2em solid #FFFFFF;
    padding: 2.5em 0.5em;
    vertical-align: middle;
    height: 28em;
  }

  .tooltip:hover + .tooltiptext {
    visibility: visible;
  }

  .tooltiptext {
    visibility: hidden;
    background-color: #FFFFFF;
    color: #000;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 25%;
    margin-left: 5em;
  }
  
  .findings-list {
    list-style-type: none;
  }
  
  .findings-list li {
    margin-top: 1em;
  }
  
  .findings.before p {
    margin: 35% auto;
  }
  
  .findings.after p {
    margin: 4% auto;
  }
  
  .findings-details {
    padding: 7%;
    margin: 5%;
    border-radius: 5%;
    background-color: #FF7F50;
    color: #000000;
    border-radius: 50%;
  }
  
  .btn {
    width: 50%;
    margin: 10% auto;
    padding: 1em;
    background-color: #FF7F50;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    outline: none;
  }
  
  .btn:focus {
    outline: none;
  }
  