.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  width: 90%;
  margin: 2% auto;
  border-radius: 3%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.params, .findings {
  display: inline-block;
  width: 44%;
  margin: 1.5%;
  border: 0.2em solid #FFFFFF;
  padding: 2.5em 0.5em;
  vertical-align: middle;
    height: 28em;
}

.findings.before p {
  margin: 41% auto;
}

.findings.after p {
  margin: 4% auto;
}

.findings-details {
  padding: 7%;
  margin: 5%;
  border-radius: 5%;
  background-color: #FF7F50;
  color: #000000;
  border-radius: 50%;
}

.btn {
  width: 50%;
  margin: 10% auto;
  padding: 1em;
  background-color: #FF7F50;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.btn:focus {
  outline: none;
}
