.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App div a.git-repo {
  position: absolute;
  bottom: 1%;
  left: 49%;
}

.App div a.git-repo img {
  width: 50%;
  height: 50%;
}
