.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  width: 90%;
  margin: 2% auto;
  border-radius: 3%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.params, .findings {
  display: inline-block;
  width: 44%;
  margin: 1.5%;
  border: 0.2em solid white;
  padding: 0.5em;
}
